/* Fondo de la calculadora */
.root {
    -fx-background-color: #95DBD1; /* blanco*/
}

/* Estilo general para los botones */
.button {
    -fx-background-color: #E0F5F1; /* Verde degradado */
    -fx-text-fill: black;         /* Texto blanco */
    -fx-font-size: 14px;          /* Tamaño de fuente */
    -fx-font-weight: bold;        /* Texto en negrita */
    -fx-padding: 5px;             /* Espaciado interno */
    -fx-background-radius: 25px;   /* Bordes redondeados */
    -fx-cursor: hand;             /* Cursor tipo mano */
    -fx-pref-width: 50px;         /* Ancho de los botones */
    -fx-pref-height: 45px;        /* Alto de los botones */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 2, 2); /* Sombra sutil */
}

#buttonConvertir{
    -fx-background-color: #E0F5F1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-pref-width: 100px;
    -fx-pref-height: 45px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 2, 2);
}

/* Efecto hover para los botones */
.button:hover {
    -fx-background-color: #2A7A6E;
    -fx-text-fill: white;
}


/* Efecto hover para los botones */
#buttonConvertir:hover {
    -fx-background-color: #2A7A6E;
    -fx-text-fill: white;
}

/* Estilo para los ComboBox */
.combo-box {
    -fx-background-color:#E0F5F1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-background-radius: 8px;
}


.combo-box .arrow-button {
    -fx-background-color: #E0F5F1;
}

/*
.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box:hover {
    -fx-background-color: #2A7A6E;
}

.combo-box .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

*/
